/Proyecto1/UTNgame/nbproject/private/
/Proyecto1/Utngame/nbproject/private/
/Proyecto1/Utngame/build/
/Proyecto1/Utn_Game/nbproject/private/
/Proyecto1/Utn_Game/build/
/Proyecto1/Utn_Game_Ventana/nbproject/private/
/Proyecto1/Utn_Game_Ventana/build/
/Proyecto1/Utn_Game_Consola/nbproject/private/
/Proyecto1/Utn_Game_Consola/build/
/Proyecto1/Utn_Game_Ventana/dist/